*{
    margin:0px;
    padding:0px;
 }

body{
    background-color:#272822;
 }

 #contenedor{
  width:1204px;
  margin:auto;
  padding:4px;
  background-color:#272822;
 }


#cabecera{
  height:50px;
  width:1204px;
  color:#B6c7DC;
  background-color: #094A9B;
  font-family: 'Josefin Sans', sans-serif;
}

#divmayor{
  height:50px;
  width:600px;
  position: absolute;
  left:0px;
  padding:5px 450px 5px 150px;
  font-size:28px;
}

div.menores{
  width: 200px;
  height:50px;
  position: absolute;
  top:15px;
  bottom: 15px;
  left:600px;
  font-size: 20px;
}
  
#menor2{
  position:absolute;
  left:800px;
}

#menor3{
  position:absolute;
  left:1000px;
}

#menor4{
  position:absolute;
  left:1204;
}

a:link,a:visited{
  text-decoration:none;
  color: #B6c7DC;
}

a:hover,a:active{
  display:block;
  font-size:25px;
}

#cuerpo{
  width:1203px;
  margin:auto;
  background-color:#DEDEDF;
}

.dobleconts{
  width:1203;
  height:200px;
  background-color:#FFFFFF;
  font-size: 17px;
  color:#676767;
  font-weight:bold;
  border-style: solid;
  border-color: #DEDEDF;    
  border-width: 4px;
}

#contimg1{
  float:right;
}

#contimg2{
  float:left;
}

img{
  width:150px;
  height:150px;
}

.title{
    font-size:20px;
    color:#094A9B;
    margin:50px 5px 5px 5px;
}
  
p.parrafos{
  margin: 10px 5px;
}
